@tailwind utilities;
@import "tailwindcss";

.body {
    background-color: blue;
    height: 100rem;
}


button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}


/* Tailwind-style hover utilities */
.text-primary, .hover\:text-primary:hover {
    color: #1779BE;
}

.text-secondary, .hover\:text-secondary:hover {
    color: #13537A;
}

.bg-primary, .hover\:bg-primary:hover {
    background-color: #1779BE;
}

.bg-secondary, .hover\:bg-secondary:hover {
    background-color: #13537A;
}

.border-primary{
    border-color: #1779BE;
}

.border-secondary{
    border-color: #13537A;
}